<!DOCTYPE html>
<html>
  <head>
    <title>Enterprise</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <a><%= link_to "Home", root_path %></a> 
      <a><%= link_to "About Us", welcome_about_path %></a>
      <a><%= link_to "Contact", welcome_contact_path %></a>
      <a><%= link_to "Features", welcome_features_path %></a>
      <a><%= link_to "FAQs", welcome_faq_path %></a>
      <a><%= link_to "Pricing", welcome_pricing_path %></a>
      <a><%= link_to "Invoices", invoices_path %></a>
      <a><%= link_to "Login", root_path %></a> 
    </div>
    <br><br>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  
  </body>
</html>
